.skyscrapper {
    position: relative;
    top: 0;
    left: 0;
}

.avatar {
    background: rgb(248, 247, 247);
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    border-radius:50%;
    display:inline-block;
    padding:10px;
    position: absolute;
    top: 120px;
    left: 80px;
    width: 180px;
    height: 180px;
  }

  h5 {
      margin-left: 40px;
  }
  
  .form-group{
    margin:0px 40px 0px 40px;
  } 

  .form-group>label{
    padding-left: 5px;
    /* padding-right: 5px; */
    position:relative;
    top:18px;
    left:4px;
    background-color:white;
  }
  
  .form-group>input{
    height: 50px;
    border-color: black;
  }
  
  .form-group>textarea{
    height: 150px;
    border-color: black;
  }
  
  .form-group>select{
    height: 50px;
    width: 100%;
    border-color: black;
  }

  table{
    margin: 0px 40px 0px 40px;
    width: 80%;
  }

  .actions {
      float: right;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: gainsboro;
    color: gray;
    float: right;
  }

  .label-info {
      color: gray;
      font-weight: bold;
  }