<div class="container">
  <div class="row align-items-center">
    <div class="col-12">
      <div>
        <img src="../assets/skyscrapper.jpg" alt="bg" class="skyscrapper">
        <i class="avatar"></i>
      </div>
      <div class="header-presentation">
        <h4>VEL CONPLURES ALTERA ORIGINIS EXUSTUS VEL VIVUS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <div class="card">
        <div class="card-body border border-dark">
          <h4>Profil Organisation</h4>
          <form>
            <div class="form-group">
              <label for="denomination">Dénomination *</label>
              <input type="text" name="denomination" id="denomination" placeholder="Dénomination *"
                class="form-control input-lg">
            </div>
            <div class="row">
              <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="creationDate">Date Création *</label>
                <input type="date" name="creationDate" id="creationDate" class="form-control input-lg"
                  [ngModel]="currentDate | date:'yyyy-MM-dd'">
              </div>
              <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="countryRegion">Pays/Région *</label>
                <input type="text" name="countryRegion" id="countryRegion" placeholder="Pays/Région *"
                  class="form-control input-lg">
              </div>
            </div>
            <div class="form-group">
              <label for="activity">Activité *</label>
              <textarea name="activity" id="activity" placeholder="Activité *" class="form-control input-lg">
            </textarea>
            </div>
            <div class="form-group">
              <label for="activityArea">Secteur d'ctivité *</label>
              <select name="ativityArea" id="activityArea">
                <option value="" disabled selected hidden>Secteur d'ctivité *</option>
                <option value="lorem">lorem</option>
              </select>
            </div>
            <div class="border border-dark border-top mt-4 mb-4">
            </div>
            <h5>Administratif</h5>
            <div class="form-group">
              <label for="commerce">Registre commerce*</label>
              <input type="text" name="commerce" id="commerce" placeholder="Registre commerce*"
                class="form-control input-lg">
            </div>
            <div class="row">
              <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="forme">Forme juridique*</label>
                <select name="forme" id="forme">
                  <option value="" disabled selected hidden>Forme juridique*</option>
                  <option value="lorem">lorem</option>
                </select>
              </div>
              <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="personnality">Personnalité juridique*</label>
                <select name="personnality" id="personnality">
                  <option value="" disabled selected hidden>Personnalité juridique*</option>
                  <option value="lorem">lorem</option>
                </select>
              </div>
            </div>
            <div class="border border-dark border-top mt-4 mb-4">
            </div>
            <h5>Adresse</h5>
            <div class="form-group">
              <label for="address">Adresse locale*</label>
              <input type="text" name="address" id="address" placeholder="Adresse locale*"
                class="form-control input-lg">
            </div>
            <div class="row">
              <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="city">Ville*</label>
                <input type="text" name="city" id="city" placeholder="Ville*" class="form-control input-lg">
              </div>
              <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="region">Région*</label>
                <input type="text" name="region" id="region" placeholder="Région*" class="form-control input-lg">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="phone">Numéro de téléphone*</label>
                <input type="number" name="phone" id="phone" placeholder="Numéro de téléphone*"
                  class="form-control input-lg">
              </div>
              <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="zipCode">Code postal*</label>
                <input type="number" name="zipCode" id="zipCode" placeholder="Code postal*"
                  class="form-control input-lg">
              </div>
            </div>
            <div class="border border-dark border-top mt-4 mb-4">
            </div>
            <h5>Responsables</h5>
            <div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
              <table class="table">
                <thead style="background-color: gainsboro;">
                  <tr>
                    <th scope="col">Nom Complet</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Numéro</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let responsable of responsables, let i = index">
                    <td *ngIf="!editableResponsable[i]" (click)="editableResponsable[i] = !editableResponsable[i]">
                      {{responsable.nom}}</td>
                    <td *ngIf="!editableResponsable[i]" (click)="editableResponsable[i] = !editableResponsable[i]">
                      {{responsable.role}}</td>
                    <td *ngIf="!editableResponsable[i]" (click)="editableResponsable[i] = !editableResponsable[i]">
                      {{responsable.numero}}</td>
                    <td *ngIf="!editableResponsable[i]" (click)="editableResponsable[i] = !editableResponsable[i]">
                      {{responsable.email}}</td>
                    <td *ngIf="editableResponsable[i]"><input type="text"
                        (keydown.enter)="editableResponsable[i] = !editableResponsable[i]"
                        [ngModelOptions]="{standalone: true}" autofocus [(ngModel)]="responsable.nom"></td>
                    <td *ngIf="editableResponsable[i]"><input type="text"
                        (keydown.enter)="editableResponsable[i] = !editableResponsable[i]"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="responsable.role"></td>
                    <td *ngIf="editableResponsable[i]"><input type="text"
                        (keydown.enter)="editableResponsable[i] = !editableResponsable[i]"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="responsable.numero"></td>
                    <td *ngIf="editableResponsable[i]"><input type="text"
                        (keydown.enter)="editableResponsable[i] = !editableResponsable[i]"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="responsable.email"></td>
                  </tr>
                  <tr>
                    <td colspan="4" class="label-info">Ajouter un responsable <button class="btn btn-circle btn-default"
                        (click)="addResponsable()"><i class="fa fa-plus"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="border border-dark border-top mt-4 mb-4">
            </div>
            <h5>Etablissements</h5>
            <div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
              <table class="table">
                <thead style="background-color: gainsboro;">
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Lieu</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let etablissment of etablisements, let i = index">
                    <td *ngIf="!editableEtablissement[i]">{{etablissment.nom}}</td>
                    <td *ngIf="!editableEtablissement[i]">
                      {{etablissment.lieu}}
                      <span class="actions">
                        <button class="btn btn-default" (click)="editableEtablissement[i] = !editableEtablissement[i]">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pen" viewBox="0 0 16 16">
                            <path
                              d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                          </svg>
                        </button>
                        <button class="btn btn-default" (click)="deleteEtablissemnt(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </span>
                    </td>
                    <td *ngIf="editableEtablissement[i]"><input type="text" name="nom" [(ngModel)]="etablissment.nom"></td>
                    <td *ngIf="editableEtablissement[i]">
                      <input type="text" name="lieu" [(ngModel)]="etablissment.lieu">
                      <span class="actions">
                        <button class="btn btn-default" (click)="editableEtablissement[i]=!editableEtablissement[i]">
                          <i class="fa fa-check"></i>
                        </button>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" class="label-info">Ajouter un etablissement <button
                        class="btn btn-circle btn-default" (click)="addEtablissement()"><i class="fa fa-plus"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="border border-dark border-top mt-4 mb-4">
            </div>
            <div class="row card-footer">
              <div class="col-sm-6 col-md-6 col-lg-6"></div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <button class="btn btn-primary btn-right">Enregistrer</button>
                <button class="btn btn-secondary btn-right">Annuler</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>